@font-face {
  font-family: "Gilroyregular";
  src: url("../fonts/Gilroyregular.woff2") format("woff2"), url("../fonts/Gilroyregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("../fonts/Gilroy-bold.woff2") format("woff2"), url("../fonts/Gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroyblack";
  src: url("../fonts/Gilroyblack.woff2") format("woff2"), url("../fonts/Gilroyblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
