.info {
  padding: 65px 0;

  &__btn-box {
    margin-bottom: 25px;
  }

  &__buttons-items {
    display: flex;
  }

  &__button-item {
    &.active {
      .info__btn {
        background-color: $accent;
        color: #fff;
      }
    }
  }

  &__btn {
    border: 1px solid $accent;
    margin-right: 20px;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: 700;
    border-radius: 5px;
    color: $accent;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;

    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }

  &__tabs-item {
    text-indent: 15px;
    height: 350px;
    overflow-y: auto;
    padding-right: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  &__contacts {
    font-size: 18px;
    @extend %gilroybold-700;
  }

  &__text-list {
    padding-left: 150px;
    margin-bottom: 10px;
  }

  &__num-list {
    list-style-type: none;
    counter-reset: item;
    font-weight: 700;
  }

  &__num-item {
    &::before {
      content: counter(item) ")";
      counter-increment: item;
    }
  }

  &__text-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 10px;
    font-weight: 700;
  }
}
