<div class="achievements">
  <div class="container">
    <ul class="achievements__items" id="counter">
      <li class="achievements__item">
        <div class="achievements__text">
          <p>
            Более восьми лет успешной работы на рынке бухгалтерских услуг
          </p>
        </div>
        <div class="achievements__num-box">
          <div class="achievements__num number" data-num="8">0</div>
          <span class="achievments__plus">+</span>
        </div>
      </li>
      <li class="achievements__item achievements__item--contracts">
        <div class="achievements__text">
          <p>
            Более двухсот заключённых контрактов с компаниями осуществляющими разнообразную экономическую деятельность
          </p>
        </div>
        <div class="achievements__num-box">
          <div class="achievements__num number" data-num="200">0</div>
          <span class="achievments__plus">+</span>
        </div>
      </li>
      <li class="achievements__item achievements__item--time">
        <div class="achievements__text">
          <p>
            Тысячи сэкономленных часов и денежных средств наших партнёров
          </p>
        </div>
        <div class="achievements__num-box" id="info">
          <div class="achievements__num number" data-num="1000">0</div>
          <span class="achievments__plus">+</span>
        </div>
      </li>
    </ul>
  </div>
</div>