<section class="benefits">
  <div class="container">
    <div class="benefits__inner">
      <ul class="benefits__list">
        <li class="benefits__item benefits__item--sheet">
          <h3 class="benefits__item-title">Освобождаем от текучки</h3>
          <div class="benefits__text">
            <p>
              Бережно храним и оформляем документы, ведём учёт в 1С
            </p>
          </div>
        </li>
        <li class="benefits__item benefits__item--briefcase">
          <h3 class="benefits__item-title">Контролируем отчетность</h3>
          <div class="benefits__text">
            <p>
              Вовремя сдаем отчетность в контролирующие органы, а также отраслевую отчетность для различного
              производства (в том числе
              для сельского хозяйства и РФИ) Подготовим отчетности для получения субсидий и грантов
            </p>
          </div>
        </li>
        <li class="benefits__item benefits__item--calendar">
          <h3 class="benefits__item-title">Заботимся о ваших сотрудниках</h3>
          <div class="benefits__text">
            <p>
              Устроим сотрудников, выплатим зарплату, отправим в отпуск
            </p>
          </div>
        </li>
      </ul>

      <div class="benefits__box">
        <h2 class="benefits__title">Почему работать с нами выгодно?</h2>
        <button class="button" header__top-link" type="button" data-toggle="modal" data-target="#myModal">Хочу
          попробовать</button>
      </div>
    </div>
  </div>
</section>