<section class="cost">
  <div class="container">
    <div class="cost__inner">
      <h3 class="cost__title">Стоимость услуг ОсОО «Лидер Консалтинг»</h3>
      <div class="cost__top">
        <p>
          Наименование услуги
        </p>
        <p>
          Стоимость в месяц
        </p>
      </div>

      <ol class="cost__list">
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Подготовка и сдача нулевых отчетов
              <span class="cost__span">от 1 500 сом</span>
            </div>
          </div>
        </li>
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Ведение бухгалтерского учета для Индивидуальных Предпринимателей
              <span class="cost__span">от 3000 сом</span>
            </div>
          </div>
        </li>
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Ведение бухгалтерского учета для Юридических лиц, не являющихся плательщиками НДС
              (торговля, сфера услуг)
              <span class="cost__span">от 5000 сом</span>
            </div>
          </div>
        </li>
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Ведение бухгалтерского учета для Юридических лиц, являющихся плательщиками НДС
              (торговля, сфера услуг)
              <span class="cost__span">от 6000 сом</span>
            </div>
          </div>
        </li>
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Ведение бухгалтерского учета для Юридических лиц (строительство,
              производство)
              <span class="cost__span">от 8000 сом</span>
            </div>
          </div>
        </li>
        <li class="cost__item">
          <div class="cost__sublist">
            <div class="cost__subitem">
              Восстановление учета
              <span class="cost__span">Индивидуально</span>
            </div>
          </div>
        </li>
      </ol>

      <div class="cost__text">
        <p>
          Более точная стоимость услуг устанавливается индивидуально,
          путем переговоров, с учетом специфики деятельности
          и объема документооборота каждого клиента.
        </p>
      </div>
    </div>
  </div>
</section>