<div class="map">
  <a class="dg-widget-link"
    href="http://2gis.kg/bishkek/firm/70000001020205903/center/74.588001,42.875574/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
    на карте Бишкека</a>
  <div class="dg-widget-link"><a
      href="http://2gis.kg/bishkek/center/74.588001,42.875574/zoom/16/routeTab/rsType/bus/to/74.588001,42.875574╎Лидер Консалтинг, ОсОО, компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
      проезд до Лидер Консалтинг, ОсОО, компания</a></div>
  <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
  <script
    charset="utf-8">new DGWidgetLoader({ "width": "100%", "height": 450, "borderColor": "#a3a3a3", "pos": { "lat": 42.875574, "lon": 74.588001, "zoom": 16 }, "opt": { "city": "bishkek" }, "org": [{ "id": "70000001020205903" }] });</script>
  <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
    настройках вашего браузера.</noscript>
</div>

<div class="container">
  <div class="footer__inner" id="contacts">

    <div class="footer__box">
      <ul class="footer__items">
        <li class="footer__item">
          <h3 class="footer__item-title">Адрес:</h3>
          <address class="footer__address">
            г.Бишкек, проспект Манаса 40, офисы 207, 208, 209, 210
          </address>

          <a class="footer__video" data-fancybox
            href="https://www.youtube.com/embed/zqkpis3BG7U?autoplay=1&controls=1&loop=1">
            Видеоориентир
          </a>

          <div class="footer__text">
            <p>Время работы: с 9:00 до 18:00</p>
            <p>Выходные дни: суббота, воскресенье</p>
          </div>
        </li>

        <li class="footer__item">

          <div class="footer__email-box">
            <h3 class="footer__item-title">Email:</h3>
            <a class="footer__links footer__links--mail"
              href="mailto:leader-consulting@mail.ru">leader-consulting@mail.ru</a>
          </div>

          <div class="footer__socials-box">
            <h3 class="footer__item-title">Соцсети:</h3>
            <ul class="footer__socials">
              <li class="footer__socials-item">
                <a class="footer__socials-link" href="#">
                  <img class="footer__socials-img" src="images/socials/instagram.webp" alt="Instagram">
                </a>
              </li>
              <li class="footer__socials-item">
                <a class="footer__socials-link" href="#">
                  <img class="footer__socials-img" src="images/socials/facebook.webp" alt="facebook">
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="footer__item">
          <h3 class="footer__item-title">Телефоны:</h3>

          <ul class="footer__contacts">
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--city" href="tel:+996312311763">+996 (312) 311 763</a>
            </li>
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--mobile" href="tel:+996556188449">+996 (556) 188 449</a>
            </li>
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--mobile" href="tel:+996779188449">+996(779) 188 449</a>
            </li>
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--mobile" href="tel:+996705188449">+996 (705) 188 449</a>
            </li>
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--wa" href="https://wa.me/+996552188449">+996 (552) 188 449</a>
            </li>
            <li class="footer__contacts-item">
              <a class="footer__links footer__links--tg" href="https://telegram.me/LCBish_bot">@LCBish_bot</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer__bottom">
  <div class="container">
    <div class="footer__bottom-text">
      <p>
        Разработка сайта: Студия Webex
        <a class="footer__bottom-link" href="mailto:inbox@webex.go.kg">inbox@webex.go.kg</a>
      </p>
      <p>Leader Consulting © 2014 - 2023г.</p>

      <div class="footer__counter">
        <script language="javascript" type="text/javascript">
          java = "1.0";
          java1 = "" + "refer=" + escape(document.referrer) + "&amp;page=" + escape(window.location.href);
          document.cookie = "astratop=1; path=/";
          java1 += "&amp;c=" + (document.cookie ? "yes" : "now");
        </script>
        <script language="javascript1.1" type="text/javascript">
          java = "1.1";
          java1 += "&amp;java=" + (navigator.javaEnabled() ? "yes" : "now");
        </script>
        <script language="javascript1.2" type="text/javascript">
          java = "1.2";
          java1 += "&amp;razresh=" + screen.width + 'x' + screen.height + "&amp;cvet=" +
            (((navigator.appName.substring(0, 3) == "Mic")) ?
              screen.colorDepth : screen.pixelDepth);
        </script>
        <script language="javascript1.3" type="text/javascript">java = "1.3"</script>
        <script language="javascript" type="text/javascript">
          java1 += "&amp;jscript=" + java + "&amp;rand=" + Math.random();
          document.write("<a href='http://www.net.kg/stat.php?id=3770&amp;fromsite=3770' target='_blank'>" +
            "<img src='http://www.net.kg/img.php?id=3770&amp;" + java1 +
            "' border='0' alt='WWW.NET.KG' width='88' height='31' /></a>");
        </script>
        <noscript>
          <a href='http://www.net.kg/stat.php?id=3770&amp;fromsite=3770' target='_blank'><img
              src="http://www.net.kg/img.php?id=3770" border='0' alt='WWW.NET.KG' width='88' height='31' /></a>
        </noscript>
      </div>
    </div>
  </div>
</div>