<section class="info">
  <div class="container">
    <div class="info__inner">
      <div class="info__btn-box">
        <ul class="info__buttons-items">
          <li class="info__button-item active" data-services="first">
            <button class="info__btn" type="button">
              Почему именно мы?
            </button>
          </li>
          <li class="info__button-item" data-services="second">
            <button class="info__btn" type="button">
              Работаете по патенту или по Свидетельству ИП?
            </button>
          </li>
          <li class="info__button-item" data-services="third">
            <button class="info__btn" type="button">
              Всеобщность налогового декларирования
            </button>
          </li>
        </ul>
      </div>

      <div class="info__tabs-wrap">
        <ul class="info__tabs">
          <li class="info__tabs-item info__tabs-item--first active">
            <p>
              «Деньги любят счет» — один из законов успешной деятельности любой компании. Правильно, грамотно и
              оперативно
              вести
              бухгалтерский учет организации может только квалифицированный бухгалтер. Мы предлагаем бухгалтерские
              услуги
              высокопрофессионального уровня:
            </p>

            <ul class="info__text-list">
              <li class="info__text-item">Бухгалтерское обслуживание (сопровождение)</li>
              <li class="info__text-item">Постановка и восстановление учета</li>
              <li class="info__text-item">Подготовка и подача отчетности</li>
              <li class="info__text-item">Подача нулевых отчётов в контролирующие органы</li>
            </ul>

            <p>
              Обратитесь к нам, и убедитесь в том, что аутсорсинг в бухгалтерии намного выгоднее, чем содержание
              штатного
              бухгалтера.
              Ведение бухгалтерии привлеченным специалистом, не подразумевает никаких дополнительных затрат, кроме
              оплаты
              за
              бухгалтерские услуги, в рамках суммы договора. Заработная плата, а также налоги и отчисления,
              предусмотренные
              действующим законодательством КР, больничные, отпускные и прочие выплаты – полностью отсутствуют.
              Бухгалтерская
              отчетность подается в установленные действующим законодательством срок, без форс-мажоров (внезапной
              болезни
              или других
              уважительных причин).
            </p>

            <p>
              Бухгалтерское обслуживание компаний осуществляется таким образом, что в случае возникновения каких-либо
              непредвиденных
              обстоятельств у одного из специалистов, все обязательства и работы может выполнить другой профессионал,
              без
              ущерба по
              качеству и срокам. Несомненным, преимуществом является и то, что профессионалы, осуществляющие аутсорсинг
              в
              бухгалтерии,
              регулярно повышают свой уровень знаний, постоянно и бдительно следят за изменениями законодательства в
              области
              налогового и бухгалтерского учета. Это позволяет значительно минимизировать риски от ошибок, с последующим
              наложением
              штрафов, и безупречно осуществлять бухгалтерское сопровождение на высоком профессиональном уровне. Вам
              нужен
              бухгалтер в
              Бишкеке?
            </p>

            <p>
              ОсОО «Лидер Консалтинг» – к вашим услугам! Мы гарантируем правильное ведение налогового учета и
              полноценное
              бухгалтерское сопровождение компаний и индивидуальных предпринимателей. Доверяя профессионалам, Вы
              обезопасите свой
              бизнес и будете спокойны за его успешность и прибыльность. Принимая во внимание тот факт, что в пределах
              столицы
              расположено внушительное количество различных субъектов бизнеса различной формы собственности, вовсе не
              удивительно, что
              бухгалтерские услуги характеризуются стабильно растущим спросом у различных компаний, ведущих свою
              деятельность в
              различных сегментах рынка.
            </p>
            <p>
              Первоклассные бухгалтерские услуги – их востребованность, напрямую связана с
              постоянно
              меняющимся и трансформирующимся отечественным законодательством. Уследить за всеми изменениями и нюансами
              без помощи
              специалистов далеко не всегда возможно. Стоимость услуг бухгалтерского сопровождения может существенным
              образом
              отличаться. Однако, далеко не всегда высокий ценник автоматически является гарантией его безупречного
              качества.
              Стоимость на наши услуги традиционно отличается своей демократичной доступностью и приемлемостью для наших
              клиентов –
              как для юридических, так и для физических частных лиц. Несмотря на тот факт, что в пределах города Бишкек
              стоимость
              бухгалтерских услуг достаточно высоки, вниманию своих многоуважаемых клиентов, ОсОО «Лидер консалтинг»
              традиционно
              предлагает самые выгодные и самые оптимальные условия для ведения взаимовыгодного сотрудничества.
            </p>
            <p>
              Стоимость
              наших услуг
              максимально приемлема и выгодна для многих субъектов, осуществляющих свою экономическую деятельность в
              различных
              направлениях столичного рынка товаров и услуг. А с введением системы цифровизации - и в любом регионе
              нашего
              Государства. Своим клиентам мы неизменно гарантируем первоклассное обслуживание и исключительно
              индивидуальный подход.
            </p>
          </li>

          <li class="info__tabs-item info__tabs-item--second">
            <p>
              Согласно Постановления Правительства КР № 609 от 11.11.2013г. Начиная с 01 января 2014г. все
              индивидуальные
              предприниматели, в том числе, работающие по патенту, обязаны вести бухгалтерский учёт и составлять
              финансовую отчётность
              (баланс, отчёт о прибылях и убытках, примечания к отчётам). А так-же сдавать налоговую декларацию в органы
              налоговой
              службы КР
            </p>

            <p>
              Мы можем взять на себя ведение вашей бухгалтерии, формирование и сдачу отчетности в контролирующие Гос.
              Органы. Или
              дадим подробную консультацию, которая позволит Вам вести бухгалтерский учет и формировать отчётность
              самостоятельно.
            </p>

            <p class="info__contacts">
              Наши контакты:
            </p>

            <ul class="phone">
              <div class="phone__box">
                <li class="phone__item">
                  <a class="phone__link" href="tel:+996312311763">
                    +996 (312) 311 763
                  </a>
                </li>
                <li class="phone__item">
                  <a class="phone__link" href="tel:+996556188449">
                    +996 (556) 188 449
                  </a>
                </li>
              </div>
              <div class="phone__box">
                <li class="phone__item">
                  <a class="phone__link" href="tel:+996779188449">
                    +996 (779) 188 449
                  </a>
                </li>
                <li class="phone__item">
                  <a class="phone__link" href="tel:+996705188449">
                    +996 (705) 188 449
                  </a>
                </li>
              </div>
            </ul>
          </li>

          <li class="info__tabs-item info__tabs-item--third">
            <p>
              В 2016 году произошли существенные изменения в наших гражданских правах и обязанностях как
              налогоплательщиков. И это
              изменение заключается в обязанности заполнить и сдать Единую налоговую декларацию по итогам предыдущего
              года. Если ранее
              Единую налоговую декларацию (далее – Декларация, ЕНД) обязаны были сдавать только лица, осуществляющие
              предпринимательскую деятельность, либо имеющие в собственности облагаемое имущество, то сейчас по итогам
              прошедшего года
              ЕНД должны сдавать практически все граждане республики. Что же кроется за словами «практически все»? В
              соответствии с
              частью 4 статьи 8 Закона Кыргызской Республики «О введении в действие Налогового кодекса Кыргызской
              Республики» по
              итогам 2015 года, то есть с 2016 года, требования статьи 92 Налогового кодекса Кыргызской Республики по
              представлению
              Единой налоговой декларации будут распространяться на всех граждан КР, а также иностранных граждан и лиц
              без
              гражданства
              — резидентов Кыргызской Республики, и нерезидентов, осуществляющих экономическую деятельность на
              территории
              страны.
              К экономической деятельности относится предпринимательская деятельность и другая экономическая
              деятельность.
              Налоговое законодательство к «другой экономической деятельности» относит:

            <ol class="info__num-list">
              <li class="info__num-item">
                осуществление деятельности в соответствии с трудовым законодательством Кыргызской Республики;
              </li>
              <li class="info__num-item">
                вложение денежных средств в банки;
              </li>
              <li class="info__num-item">
                приобретение, передача или продажа ценных бумаг, доли физического или юридического лица в уставном
                капитале;
              </li>
              <li class="info__num-item">
                получение любых выплат в соответствии с долей физического или юридического лица в уставном капитале
                организации;
              </li>
              <li class="info__num-item">
                получение неустоек, штрафа, возмещения морального вреда;
              </li>
              <li class="info__num-item">
                получение страховой суммы (возмещения) по договорам страхования;
              </li>
              <li class="info__num-item">
                иная деятельность, не являющаяся предпринимательской деятельностью
              </li>
            </ol>
            </p>

            <p>
              К иной экономической деятельности, не являющейся предпринимательской, также относится, например, получение
              доходов в
              виде пенсий, стипендий, пособий, алиментов, наследства, кредитов и займов, а также выигрышей, получение
              любых активов, в
              том числе на безвозмездной основе, обладание облагаемыми и необлагаемыми объектами движимого и недвижимого
              имущества,
              земельными участками и др.
              Таким образом, Декларацию должны будут сдать и неработающие пенсионеры, и студенты, получающие стипендию.
              Более того, за
              детей, получивших какой-либо доход или актив, например, пособие, наследство, Декларацию должны заполнить и
              представить
              их родители или опекуны.
              Исходя из приведенных определений, становится ясно, что любой гражданин республики, а также ее резидент,
              то
              есть
              иностранное лицо или лицо без гражданства, пребывающее в стране более 183 дней в течение 12
              последовательных
              месяцев, и
              осуществляющий хотя бы один из названных видов экономической деятельности, является Декларантом, то есть,
              обязан
              заполнить и сдать Единую налоговую декларацию.
              По предварительным оценкам Налоговой службы республики, количество Декларантов может доходить до 3,0 млн.
              человек, что
              превышает количество трудоспособных граждан страны.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>