<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <h3 class="modal-title">Хочу попробовать</h3>

      <div class="modal-body">
        <form class="modal__form" action="#">
          <div class="modal__inputs">
            <input class="modal__input" type="email" placeholder="E-mail">
            <input class="modal__input" type="text" placeholder="ФИО">
            <input class="modal__input" type="tel" placeholder="Номер телефона">
          </div>
          <button class="modal__btn" type="submit">Оставить заявку</button>
        </form>
      </div>

    </div>
  </div>
</div>