<section class="partners">
  <div class="container">
    <h3 class="partners__title">Наши партнёры!</h3>
    <ul class="partners__list">
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/1.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/2.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/3.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/4.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/5.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/6.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/7.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/8.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/9.webp" alt="partners" class="partners__img">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__wrap">
          <img src="images/partners/10.webp" alt="partners" class="partners__img">
        </div>
      </li>
    </ul>
  </div>
</section>