<section class="services">
  <div class="container">
    <div class="services__inner">
      <h3 class="services__title">
        Компания Leader consulting оказывает следующие бухгалтерские услуги:
      </h3>
      <div class="services__box">
        <ul class="services__list">
          <li class="services__item">
            Постановка бухгалтерского учёта.
          </li>
          <li class="services__item">
            Ведение бухгалтерского учёта.
          </li>
          <li class="services__item">
            Налоговое планирование.
          </li>
          <li class="services__item">
            Подготовка и сдача отчётности.
          </li>
          <li class="services__item">
            Оптимизация налогообложения
          </li>
          <li class="services__item">
            Расчёт заработной платы.
          </li>
          <li class="services__item">
            Кадровый учёт.
          </li>
          <li class="services__item">
            Восстановление бухгалтерского учёта.
          </li>
          <li class="services__item">
            Сдача нулевых отчётов
          </li>
          <li class="services__item">
            Регистрация и перерегистрация юридических лиц и индивидуальных предпринимателей.
          </li>
        </ul>

        <div class="services__text">
          <p>
            У нас индивидуальный подход к каждому клиенту в сочетании с доступной стоимостью предоставляемых услуг.
          </p>
          <p class="services__bold">
            Нас легко найти по адресу:
          </p>
          <address class="services__address">
            г.Бишкек проспект Манаса 40 (на пересечении с ул.Киевской) 2 этаж,
            кабинеты № 207, 208, 209, 210 в здании ОАО «Кыргызгипрострой».
          </address>
          <p class="services__bold">
            На любые Ваши вопросы ответим по телефонам:
          </p>

          <ul class="phone phone--services">
            <div class="phone__box">
              <li class="phone__item phone__item--services">
                <a class="phone__link" href="tel:+996312311763">
                  +996 (312) 311 763
                </a>
              </li>
              <li class="phone__item phone__item--services">
                <a class="phone__link" href="tel:+996556188449">
                  +996 (556) 188 449
                </a>
              </li>
            </div>
            <div class="phone__box">
              <li class="phone__item phone__item--services">
                <a class="phone__link" href="tel:+996779188449">
                  +996 (779) 188 449
                </a>
              </li>
              <li class="phone__item phone__item--services">
                <a class="phone__link" href="tel:+996705188449">
                  +996 (705) 188 449
                </a>
              </li>
            </div>
          </ul>
          <p>
            с 9:00 до 18:00 часов
          </p>
          <p>
            Выходные дни: Суббота и Воскресенье.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>