<section class="support">
  <div class="container">
    <div class="support__inner">
      <ul class="support__items">
        <li class="support__item">
          <h3 class="support__title">Подскажем что лучше ИП или ОсОО</h3>
          <div class="support__text">
            Поможем выбрать наиболее выгодную форму организации для вашего бизнеса, учитывая все нюансы
          </div>
        </li>
        <li class="support__item support__item--sec">
          <h3 class="support__title">Подключим услуги юриста</h3>
          <div class="support__text">
            При решении любых вопросов вы сможете расчитывать на оперативную помощь бухгалтера и юриста
          </div>
        </li>
        <li class="support__item support__item--third">
          <h3 class="support__title">Подскажем в каком банке открыть счёт</h3>
          <div class="support__text">
            Поможем выбрать банк под необходимый бюджет и форму обслуживания
          </div>
        </li>
        <li class="support__item support__item--fourth" id="cost">
          <h3 class="support__title">На связи в течении всего рабочего дня</h3>
          <div class="support__text">
            По телефону, по электронной почте и даже в мессенджере
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>