<section class="target">
  <div class="container">
    <ul class="target__box">
      <li class="target__box-item">
        <div class="target__boxitem-wrap">
          <h3 class="target__title">Работаем с предпринимателями Кыргызстана, и бизнесменами из-за рубежа</h3>
          <ul class="target__list">
            <li class="target__item">У вас киоск “кофе с собой”?</li>
            <li class="target__item">Парикмахерская или кафе?</li>
            <li class="target__item">Продаёте оборудование или материалы?</li>
            <li class="target__item">Занимаетесь программированием?</li>
            <li class="target__item">Делаете сайты или рекламу?</li>
            <li class="target__item">Фотографируете или снимаете видео?</li>
          </ul>
        </div>

        <div class="target__img-box">
          <img class="target__img" src="images/target/1.png" alt="target image">
          <img class="target__img" src="images/target/2.png" alt="target image">
          <img class="target__img" src="images/target/3.png" alt="target image">
        </div>
      </li>

      <li class="target__box-item">
        <div class="target__boxitem-wrap">
          <h3 class="target__title">Нет бухгалтера в штате? Не проблема!</h3>
          <div class="target__text">
            <p>
              Мы станем для вас надежным подспорьем и хорошим другом: Поможем зарегистрировать компанию, выберем
              подходящую
              систему
              налогообложения и расскажем, как не заплатить слишком много налогов начинающему предпринимателю.
            </p>
          </div>
        </div>

        <div class="target__img-box">
          <img class="target__img" src="images/target/4.png" alt="target image">
          <img class="target__img" src="images/target/5.png" alt="target image">
          <img class="target__img" src="images/target/6.png" alt="target image">
        </div>
      </li>

      <li class="target__box-item">
        <div class="target__boxitem-wrap">
          <h3 class="target__title">Решили отдать бухгалтерию на аутсорсинг?</h3>
          <div class="target__text">
            <p>
              Если вы по каким-то причинам решили сменить бухгалтера, то мы аккуратно примем базу, проверим ошибки и
              поможем
              восстановить учёт
            </p>
          </div>
        </div>

        <div class="target__img-box" id="services">
          <img class="target__img" src="images/target/7.png" alt="target image">
          <img class="target__img" src="images/target/8.png" alt="target image">
          <img class="target__img" src="images/target/9.png" alt="target image">
        </div>
      </li>
    </ul>
  </div>
</section>