<section class="team" id="team">
  <div class="container">
    <div class="team__inner">
      <h3 class="team__title">Наша команда!</h3>
      <ul class="team__list">
        <li class="team__item">
          <img class="team__img" src="images/team/1.jpg" alt="Наталья Викторовна">
          <div class="team__text-box">
            <div class="team__name">Наталья Викторовна</div>
            <div class="team__position">Руководитель компании</div>
            <div class="team__text">
              <p>
                Окончила КНУ им. Ж. Баласагына, по специальности: бухгалтерский учет, анализ и аудит.
              </p>
              <p>
                Стаж работы с
                2001г
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/2.jpg" alt="Мария">
          <div class="team__text-box">
            <div class="team__name">Мария</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила ИУиБ при КГТУ по специальности бухгалтерский учет, в 2005 году.
              </p>
              <p>
                Стаж работы с 2008 г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/3.jpg" alt="Гулира">
          <div class="team__text-box">
            <div class="team__name">Гулира</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила МУК по специальности финансы и кредит.
              </p>
              <p>
                Стаж работы с 2016г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/4.jpg" alt="Варвара">
          <div class="team__text-box">
            <div class="team__name">Варвара</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила КГТУ им И. Раззакова, по специальности бухгалтерский учет, анализ, аудит.
              </p>
              <p>
                Стаж работы с 2015г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/5.jpg" alt="Назгуль">
          <div class="team__text-box">
            <div class="team__name">Назгуль</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила КГУСТА по специальности бухгалтерский учёт и аудит.
              </p>
              <p>
                Стаж работы с 2017г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/6.jpg" alt="Екатерина">
          <div class="team__text-box">
            <div class="team__name">Екатерина</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила Бишкекский филиал Московского института предпринимательства и права по специальности финансы и
                кредит.
              </p>
              <p>
                Стаж
                работы с 2012г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/7.jpg" alt="Аида">
          <div class="team__text-box">
            <div class="team__name">Аида</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                КГУСТА им Н.Исанова факультет Промышленная экология Спец, инженер Эколог 2003г.
              </p>
              <p>
                Стаж работы с 2020г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/8.jpg" alt="Раушан">
          <div class="team__text-box">
            <div class="team__name">Раушан</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила КНУ им. Ж. Баласагына по специальности: химик-технолог в 2017г.
              </p>
              <p>
                Стаж работы с 2019 г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/9.jpg" alt="Нина">
          <div class="team__text-box">
            <div class="team__name">Нина</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила "Кыргызский Национальный Университет имени Жусупа Баласагына" бухгалтерский учет и аудит.
              </p>
              <p>
                Стаж
                работы с 2004г.
              </p>
            </div>
          </div>
        </li>
        <li class="team__item">
          <img class="team__img" src="images/team/10.jpg" alt="Гульмира">
          <div class="team__text-box">
            <div class="team__name">Гульмира</div>
            <div class="team__position">Бухгалтер</div>
            <div class="team__text">
              <p>
                Окончила "Чуйский Университет "бухгалтерский учет и аудит. КНУ имени Жусупа Баласагына" экономика
                предприятия.
              </p>
              <p>
                Стаж
                работы с 2004г.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>