<section class="welcome">
  <div class="container">
    <div class="welcome__inner">
      <h1 class="sr-only">Бухгалтерские услуги в Бишкеке</h1>
      <h2 class="welcome__title">Пожалуй самая надежная бухгалтерия для предпринимателей!</h2>
      <div class="welcome__subtitle">
        <p>
          Мы полностью возьмём на себя вашу бухгалтерию и поможем
          в юридических вопросах, добавив сюда безупречный сервис
        </p>
      </div>

      <button class="button" type="button" data-toggle="modal" data-target="#myModal">Хочу
        попробовать</button>

      <div class="welcome__img-box">
        <div class="welcome__img-text">
          <p>Наталья Викторовна</p>
          <p>Руководитель компании «Лидер Консалтинг»</p>
        </div>

        <img class="welcome__img" src="images/top/welcome-img3.png" alt="Руководитель">
      </div>
    </div>
  </div>
</section>